body {
  content: "";
  font-family: "Century Schoolbook";
  font-size: 1.2vw;
  position: relative;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

section {
  position: relative;
  z-index: 1;
  padding: 20px;
  width: 80%;
  margin: auto;
}

h1{
  line-height: 1.5em;
  border: .5vw;
  border-style: ridge;
  border-style: outset;
  border-color: #8b4513; /* Changed to a wood brown */
  background-color: #f0e68c; /* Changed to a light earthy yellow */
  opacity: 1;
  border-radius: 10px;
  text-align: center;
  color: black;
  padding: 1vw;
  font-size: 2.5em;
  margin-top: 0;
}
h2 {
  line-height: 1.5em;
  border: .5vw;
  border-style: ridge;
  border-style: outset;
  border-color: #8b4513; /* Changed to a wood brown */
  background-color: #f0e68c; /* Changed to a light earthy yellow */
  opacity: 1;
  border-radius: 10px;
  text-align: center;
  color: black;
  padding: 1vw;
  font-size: 2.5em;
  margin-top: 0;
}
p,
ul {
  line-height: 1.5em;
  border: .5vw;
  border-style: ridge;
  border-style: outset;
  border-color: #8b4513; /* Changed to a wood brown */
  background-color: #f5deb3; /* Changed to wheat color */
  color: black;
  width: 90%;
  opacity: 1;
  border-radius: 10px;
  padding: 1vw;
  font-size: 1.25em;
  margin: 1vw auto;
}
